<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white">Easy sharing</h1>
        <h2 class="text-white">A service that you can work smoothly.</h2>
      </div>
      <div class="col-md-12 mx-auto" style="width: 150px;">
          <%= link_to 'Sign up', new_user_path, class: "btn btn-primary m-2" %>
          <%= link_to 'Log in', login_path, class: "btn btn-secondary m-2" %>
      </div>    
        </div>
      </div>
  </div>
</div>