.topic-index-wrapper {
  padding-top: 40px;
  padding-bottom: 150px;
  background-color: #f3f3f3;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      //width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

.user-new-wrapper {
  padding-top: 40px;
  padding-bottom: 90px;
  background-color: #f3f3f3;
} 

.user-login-wrapper {
  padding-top: 40px;
  padding-bottom: 250px;
  background-color: #f3f3f3;
} 

.topic-index-wrapper {
 padding-top: 40px;
  padding-bottom: 200px;
  background-color: #f3f3f3;
}

.card-body{
   height: 300px;
} 

.card-text {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img-top {
  height: 0px;
}  

.index_image {
   height: 270px;
} 

.like-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: red; 
 margin-left: 20px;
 }
 
 .unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #e54747;
 margin-left: 20px;
 }
 
 .icon {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  //box-shadow: 0 2px 6px #c1ced7;
  //margin: 20px 0 10px;
  object-fit: cover;
 }
 
 .icon_edit {
  width: 100px;
  height: 100px;
  border-radius: 30%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
 }
 
 .icon_show {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  //box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
 }
 
 .topic_image1{
  width: 263px;
  height: 250px;
 }
 
 .topic_image2{
  width: 263px;
  height: 250px;
 }
 
 .topic_image3{
  width: 263px;
  height: 250px;
 }
 
 .topic_image4{
  width: 263px;
  height: 250px;
 }
 
 .default_cover {
  width: 263px;
  height: 250px;
 }
 
 //ヘッダーアイコン
 .navbar-brand {
  width: 40px;
  height: 40px;
  //border-radius: 30%;
  //box-shadow: 0 2px 6px #c1ced7;
  //margin: 10px 0 10px;
  //object-fit: cover;
 }
 
 //ドロップダウンアイコン
 .navbar-brand_drop_down {
  width: 40px;
  height: 27px;
  //border-radius: 30%;
  //box-shadow: 0 2px 6px #c1ced7;
  //margin: 10px 0 10px;
  //object-fit: cover;
 }
 
 .btn-primary {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  border-radius: 0.25rem;

  &:hover {
    color: #fff;
  }
}

 